* {
    box-sizing: border-box;
  }


#container {
    width: min(900px, 90vw);
    height: min(640px, 64vw);
    display: flex;
    flex-wrap: wrap;
    outline: solid;
    
}

#display {
    width: 100%;
    height: min(195px, 13.8vw);
    font-size: min(48px, 5vw);
    align-content: flex-end;
    text-align: right;
    outline: 2px solid black;
    
}

#inputContainer {
    margin-top: 5px;
    margin-bottom: 5px;
}

#buttonContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 2 2 auto;
}


button {
    width: min(220px, 20vw);
    height: min(110px, 10vw);
    font-size: min(32px, 3.5vw);
    
}